body{
    width: 100%;
    height: 100svh;
    border: 2px solid;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hours{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(232, 237, 238);
    background: radial-gradient(violet,indigo);
}
.minutes{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(232, 237, 238);
    background: radial-gradient(violet,indigo);
}
.seconds{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(232, 237, 238);
    background: radial-gradient(violet,indigo);
}
.msec{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(232, 237, 238);
    background: radial-gradient(violet,indigo);
}
.dots{
    font-size: 100px;
    color: blue;
}
.hai{
    position: absolute;
    top: 80svh;
    left: 30%;
}
.hai1{
    position: absolute;
    top: 80svh;
    left: 50%;
}
.hai2{
    position: absolute;
    top: 80svh;
    left: 70%;
}
.hai3{
    position: absolute;
    top: 80svh;
    left: 90%;
}
.hai4{
    position: absolute;
    top: 80svh;
    left: 10%;
}